body{
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    background-repeat: no-repeat;
    overflow: hidden;
}

.heading{
    width: 100%;
    font-size: 25px;
    margin-top: 0;
    color: rgb(0, 221, 255);
}

.footer{
    bottom: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    color: rgb(0, 102, 118);
    background-color: #152238;
    font-size: 35px;
}

canvas{
    margin-top: 250px;
    border: 5px solid #152238;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #6c7483;
}